{% extends 'sbAdminBundle::layout.html.twig' %}

{% block title %}BlogAdmin &middot; Posts{% endblock %}

{% block currentPage %}posts{% endblock %}

{% block content %}

    <h1>
        Posts
        <span class="pull-right">
            <a class="btn btn-success" href="{{ path('admin_posts_create') }}"><i class="fa fa-plus-circle"></i> Add
                Post</a>
        </span>
    </h1>

    {% if posts == null %}

        <div class="panel-body">
            <div class="alert alert-warning">
                <strong>No Posts available!</strong>
                <br>
                You can <a class="alert-link" href="{{ path('admin_posts_create') }}">create one!</a>
            </div>
        </div>

    {% else %}

        <div class="panel panel-default">

            <table class="table table-bordered table-responsive table-striped">
                <tr>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Created</th>
                    <th>Edited</th>
                    <th>Actions</th>
                </tr>

                {% for post in posts %}

                    <tr {% if post.isDraft == true %}class="warning"{% endif %}>
                        <td>
                            <samp>{{ post.title }}</samp>
                            {% if post.isDraft == true %}
                                <br>
                                <label class="label label-warning">[DRAFT]</label>
                            {% endif %}
                        </td>
                        <td>
                            <code>{{ post.slug }}</code>
                        </td>
                        <td>
                            {{ post.creationDate|date('d.m.Y G:i:s') }}
                        </td>
                        <td>
                            {% if post.editDate != null %}
                                {{ post.editDate|date('d.m.Y G:i:s') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <span class="pull-right">

                                {% if post.isDraft == true %}
                                    <a class="btn btn-success" href="#">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                {% else %}
                                    <a class="btn btn-success" href="{{ path('blog_post_show', {slug: post.slug}) }}" target="_blank">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                {% endif %}

                                <a class="btn btn-warning" href="{{ path('admin_posts_update', {postId: post.id}) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-danger" href="{{ path('admin_posts_delete', {postId: post.id}) }}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    </tr>

                {% endfor %}

            </table>

        </div>

    {% endif %}

{% endblock %}
