{% extends 'sbAdminBundle::layout.html.twig' %}

{% block title %}BlogAdmin &middot; Template '{{ template.name }}'{% endblock %}

{% block currentPage %}templates{% endblock %}

{% block content %}

    <h1>
        Template '{{ template.name }}'
        <span class="pull-right">
            <a class="btn btn-default" href="{{ path('admin_templates_collection') }}">
                <i class="fa fa-chevron-circle-left"></i> Back
            </a>
        </span>
    </h1>

    <br>

    <div class="row">
        <div class="col-lg-2">

            <div class="list-group">
                {% for file in files %}
                    <a href="{{ path('admin_templates_updateFile', {identifier: template.identifier, filename: file.filename}) }}"
                       class="list-group-item{% if file.filename == currentFile.filename %} active{% endif %}">{{ file.filename }}</a>
                {% endfor %}
            </div>

            <a class="btn btn-success" href="#"><i class="fa fa-save"></i> Save Changes</a>

        </div>
        <div class="col-lg-10">

            <div id="file-editor">{{ fileContent }}</div>

        </div>
    </div>

    <script src="{{ asset('assets/ace-builds/src-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("file-editor");
        editor.setTheme("ace/theme/github");
        editor.getSession().setMode("ace/mode/twig");
    </script>

    <style type="text/css" media="screen">
        #file-editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 800px;
        }
    </style>

{% endblock %}
